<div class="page-header">
    <h1>RSS Mixer
        <small>UI Mockup (rough)</small>
    </h1>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <h2>Saved Feeds (<span>2</span>)</h2>

        <form role="form" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="feed" placeholder="Feed URL"/>
                <button class="btn btn-default">
                    Add Feed
                </button>
                <i class="glyphicon glyphicon-info-sign" rel="tooltip" data-toggle="tooltip" data-placement="right"
                   title="Submits ajax.post to json/feeds.json"></i>
            </div>
        </form>
        <h3>
            Feeds
            <i class="glyphicon glyphicon-info-sign" rel="tooltip" data-toggle="tooltip" data-placement="right"
               title="Loads by ajax.get to json/feeds.json"></i>
        </h3>
        <ul>
            <li><a href="http://staff.tumblr.com/rss">http://staff.tumblr.com/rss</a> <i
                    class="glyphicon glyphicon-minus-sign" rel="tooltip" data-toggle="tooltip" data-placement="right"
                    title="Submits ajax.delete to json/feeds.json"></i></li>
            <li><a href="http://feeds.bbci.co.uk/news/rss.xml">http://feeds.bbci.co.uk/news/rss.xml</a> <i
                    class="glyphicon glyphicon-minus-sign" rel="tooltip" data-toggle="tooltip" data-placement="right"
                    title="Submits ajax.delete to json/feeds.json"></i></li>
        </ul>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <h2>
            Posts (<span>3</span>)
            <i class="glyphicon glyphicon-info-sign" rel="tooltip" data-toggle="tooltip" data-placement="right"
               title="Loads by ajax.get to json/posts.json"></i>
        </h2>

        <div>
            <h3>France urges reform of 'remote' EU</h3>

            <p>France's president will tell Europe's leaders to focus on boosting the economy, as they prepare to
                discuss the fallout from the European polls.</p>

            <p>Source: <a href="http://www.bbc.com/news/">BBC</a> | Author: <em>Tina Fei</em>
            <hr/>
        </div>
        <div>
            <h3>France urges reform of 'remote' EU</h3>

            <p>France's president will tell Europe's leaders to focus on boosting the economy, as they prepare to
                discuss the fallout from the European polls.</p>

            <p>Source: <a href="http://www.bbc.com/news/">BBC</a> | Author: <em>Tina Fei</em>
            <hr/>
        </div>
        <div>
            <h3>France urges reform of 'remote' EU</h3>

            <p>France's president will tell Europe's leaders to focus on boosting the economy, as they prepare to
                discuss the fallout from the European polls.</p>

            <p>Source: <a href="http://www.bbc.com/news/">BBC</a> | Author: <em>Tina Fei</em>
            <hr/>
        </div>
    </div>
</div>